<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Maillots</title>
</head>
<body>
	<div class="col-md-7">
=======
  <title>Maillots</title>
</head>
<body>


  <h1>Liste des maillots</h1>

  {% for maillot in maillots %}
   <h3>Name : {{ maillot.name }}</h3>
  <h3>Price :{{ maillot.price }}</h3>
  <h3>Description : {{ maillot.description }}</h3>
  <a href="{% url 'shop_app:maillot' maillot.id %}">Voir le maillot</a>
  <hr>
  {% endfor %}

</div>
</body>
</html>